.root{
    -fx-font-family: "Segoe UI";
}
.text{
    -fx-font-family: "Segoe UI";
}
.text-field{
    -fx-font-family: "Segoe UI";
}
.combo-box{
    -fx-font-family: "Segoe UI";
}
.label{
    -fx-font-family: "Segoe UI";
}
.button{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}
.button:pressed{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}
.button:hover{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}