* {

    dark-primary-color: #00796B;

    default-primary-color: #009688;

    light-primary-color: #B2DFDB;

    text-primary-color: #FFFFFF;

    accent-color: #9E9E9E;

    primary-text-color: #212121;

    secondary-text-color: #757575;

    divider-color: #BDBDBD;

}

.root{
    -fx-background-color: light-primary-color;
}

.choice-box{
    -fx-background-color: accent-color;
}

.button{
    -fx-background-color: accent-color;
}

.text-field{
    -fx-background-color: accent-color;
}

.label{
    -fx-color: accent-color;
    -fx-font-family: Garamond, serif;
}

.text-area{
    -fx-font-family: Garamond, serif;
    -fx-background-color: accent-color;
}

.datePicker{
    -fx-background-color: accent-color;
}

.combo-box{
    -fx-background-color: accent-color;
}

.menu{
    -fx-color: black;
    -fx-background-color: white;
    -fx-color-label-visible: black;
    -fx-text-fill: black;
}

.menu-bar{
    -fx-background-color: white;
}